.container {
    padding: 15px;
    height: 65vh;
    overflow: scroll;
}

.title {
    margin-bottom: 20px;
}

.list {
    gap: 50px;
    overflow: hidden;
}

.list,
.day,
.details,
.item {
    display: flex;
}

.list,
.day,
.item {
    flex-direction: column;
}

.day {
    gap: 15px;
}

.date {
    font-size: 18px;
    font-weight: 300;
    position: relative;
}

.date::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.details {
    justify-content: space-between;
    gap: 20px;
    overflow-x: scroll;
}

.item {
    justify-content: space-between;
    align-items: center;
}
