.container {
    background: var(--black-bg-color);
    border: 1px solid var(--white-border-color);
    height: 100%;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 0 5px;
    width: 250px;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.item:nth-child(1) {
    position: relative;
}

.item:nth-child(1)::after {
    content: '/';
    position: absolute;
    top: 0;
    right: -30px;
    color: rgba(255, 255, 255, 0.1);
}

.link {
    color: rgba(255, 255, 255, 1);
}

.link:hover {
    transition: color 0.3s ease;
}

.link:hover,
.active {
    color: rgba(255, 255, 255, 0.5);
}